mixin ben(cl,p)
	.benefit(class=cl)
		p.benefit-text=p


section#benefits
	.container
		.benefits-1
			+gt('general-title-center','Выгоды от посещения МК')
			.row
				.col-md-4
					+ben('benefit-1','Узнаешь 4 навыка работы с деньгами, о которых знают все миллионеры')
					+ben('benefit-2','Познакомишься с людьми, которые так же, как и ты хочет больше финансовой свободы')
				.col-md-4
					img.benefits-img(src=path+"img/images/benefits.png", alt="Выгоды от посещения МК")
				.col-md-4
					+ben('benefit-3','Поймешь, как посчитать чистую доходность от вложенных денег. И почему, чем больше капитал, тем доходность выше')
					+ben('benefit-4','Узнаешь, как управлять расходами через подсознание, повышая качество своей жизни, а не отказываясь от необходимых вещей')
			.row
				.col-md-4.col-md-offset-4
					+ben('benefit-5','Выяснишь 7 привычек успешных людей и как их внедрить в свою жизнь')
		.benefits-2
			.row
				.col-md-6
					.benefit-more
						img(src=path+"img/icons/", alt="Что будет на МК").benefits-more-img
						+gt('general-title-benefit-more','Что будет на МК')
						ul.benefit-more-list
							li - Разберем пошаговый план, как перейти с активного на пассивный доход без финансовых рисков для себя
							li - Определишь, какой капитал тебе необходим для финансовой свободы
							li - Наконец увидишь, на что каждый месяц улетают деньги
							li - Узнаешь свои финансовые установки в подсознании
							li - Определишь реальную сумму своего личного дохода в месяц
							li - Получишь файл-чек-лист по своим расходам
							li - Узнаешь технологии и принципы накопления, которые давно искал
				.col-md-6
					.benefit-more
						img(src=path+"img/icons/", alt="Эффект от МК").benefits-more-img
						+gt('general-title-benefit-more','Эффект от МК')
						ul.benefit-more-list
							li - Появятся полноценные выходные. Да, такое возможно!
							li - Научишься грамотно управлять своими денежными активами по всем направлениям – от покупок до открытия бизнеса
							li - Сможешь наладить личную жизнь и отношения
							li - Станет больше свободного времени
							li - Сможешь больше уделять внимания своей семье и детям
							li - Сможешь заниматься тем, что нравится, а не только тем, что приносит деньги
							li - Займешься спортом и своим здоровьем
			+b('button-benefits',href,'Записаться')